.cabecalho {
    background: #1f1e1e;     
}

.menu__logo {
    margin-left: 30px;
    max-width: 80px;
}

.menu {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.menu__lista {
    display: flex;
    flex-direction: row;
    margin-right: 30px;  
}

.menu__item {
    font-weight: 700;      
    list-style: none;
}

.menu__link {
    color: #ffffff;
    font-size: 18px;
    margin-left: 15px; 
    text-decoration: none;
}

.menu__link:hover {
    color: #3e52b6;
}

